{% extends "base.html" %}
{% block title %} database {% endblock title %}
{% block content %} 


    <div class="card">
        <div class="card-header">
            Data Postingan dari Database
        </div>
        {% for data in post %}
        <div class="card-body">
            <h5 class="card-title">{{data.title}}</h5>
            <p class="card-text">{{data.body}}</p>
            <a href="#" class="btn btn-primary">check Details</a>
        </div>
        {% endfor %}
    </div>
  
{% endblock content %}